@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.header {
    height: 15vh;
    background:linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxLogo {
    
    width: 22vw;
    display: flex;
    color: white;
    align-items: center;
    height: 15vh;
    justify-content: space-evenly;
    font-family: "Inter", sans-serif;
    font-weight: 700; 
    h1{
        font-size: 25px;
        font-weight: bold;
      }
    img {
        width: 4vw; 
    }
}

.paginas {
    width: 35vw;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .link {
        color: rgba(255, 255, 255, 1);
        font-size: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 200;
        &:hover {
            color: rgb(116, 104, 110);
          }
    }
}

.busca {
    border: solid 2px #fff;
    width: 17vw;
    height: 6vh;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    padding-right: 20px;
    margin-right: 20px;
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    width: 13vw;
    padding-left: 18px;
    font-size: 15px;
        &::placeholder {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 400;
    }
  }


