@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.footer {
    height: 30vh;
}
  
.icones {
  background-color: #005695;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Inter", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
    nav{
      width: 18vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img{
        transition: transform 0.3s;
           &:hover {
            transform: scale(1.1);
        }
      }
    }      
  
    }
  
.end {
    background-color:#232020;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white;
    height: 14vh;
    text-align: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    p {
      font-weight: 700;
    }
    }

  