@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.doados {
    height: 80vh;
    display: flex;
    flex-direction: column;  
    align-items: center;    
    justify-content: space-evenly;
    font-family: "Inter", sans-serif;
}


.descricao {
    width: 85vw;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    article{
        border: solid 2px #005695;
        width: 15vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
        font-family: "Inter", sans-serif;
        transition: transform 0.5s;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
          }
    }
}   
    
// ------------------------------------------ Responsivo Doados -------------------------------------------------------------
@media (max-width: 1200px) {
    .doados {
        justify-content: space-around;
    }
    .descricao {
        article {
            width: 200px; 
            height: 230px; 
            h3 {
                font-size: 17px;
            }
            p{
                font-size: 14px;   
            }
         }
    }
}

@media (max-width: 720px) {
    .doados {
        h2{
        padding-bottom: 20px; 
        }
        height: auto;
        padding-bottom: 20px;
    }
    .descricao {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
    }
}

@media (max-width: 520px) {
    .doados {
        h2{
        padding-bottom: 20px; 
        }
        height: auto;
        padding-bottom: 20px;
    }
    .descricao {
        flex-wrap: wrap;
        height: auto;
        gap: 10px;
    }
}
   
